* {
    font-family: Helvetica;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

.navLeft {
    display: flex;

    .icon {
        max-width: 60px;
        border-radius: 30px;
    }
}

.about, .gallery, .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.map {
    border-top-right-radius: 200px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
}

@media screen and (max-width: 900px) {
    .fadeimg {
        max-width: 400px;
    }

    .map {
        max-width: 350px;
        max-height: 350px;
    }
}

