* {
    font-family: Helvetica;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

.icon {
    max-width: 60px;
    border-radius: 30px;
}

.logo {
    max-width: 400px;
}

.about, .gallery, .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

@media screen and (max-width: 900px) {
    .fadeimg {
        max-width: 400px;
    }
}

